{% extends 'base.html' %}

{% block content %}
<h1>Фотогалерея</h1>

<!-- Modal -->
<div class="modal fade" id="previewPicModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content shadow">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Фотография</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center" id="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>

<div class="text-center">
    <div class="spinner-border text-secondary" role="status" id="spinner"></div>
</div>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Фотография</th>
            <th scope="col">Описание</th>
        </tr>
    </thead>
    <tbody id="table-body-box">
    </tbody>
</table>
{% endblock content %}